/*warning if JS disabled
/*Class page__wrappe must be assign a wrapper of the page*/
.page__wrapper {
	filter: blur(4px);
	}
.page-cover {
	position:   fixed;
	top:        0;
	right:      0;
	bottom:     0;
	left:       0;
	z-index:    99999;
	}

.js-disabled {
	width:      400px;
	position:   relative;
	margin:     10% auto;
	padding:    20px;
	background: #FFFFFF;
	}

.js-disabled p {
	text-align: center;
	}
